<div class="layout">
    <div class="ui-fluid p-grid">
        <div class="col-2">
            <div class="btn-group mb-2 mr-2 b inp">
                <select class="custom-select my-1 mr-sm-2">
                    <option selected>Section</option>
                    <option value="asd">asd</option>
                    <option value="asd">asd</option>
                    <option value="asd">asd</option>
                    <option value="asd">asd</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <div class="btn-group mb-2 mr-2 b inp">
                <select class="custom-select my-1 mr-sm-2">
                    <option selected>Activity</option>
                    <option value="asd">asd</option>
                    <option value="asd">asd</option>
                    <option value="asd">asd</option>
                    <option value="asd">asd</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <div class="btn-group mb-2 mr-2 b inp">
                <select class="custom-select my-1 mr-sm-2">
                    <option selected>Activity Type</option>
                    <option value="asd">Lecture</option>
                    <option value="asd">Laboratory</option>
                </select>
            </div>
        </div>
    </div>

    <br>

    <div class="accordion shadow-soft rounded" id="accordionExample1">
        <div class="card card-sm card-body bg-primary border-light mb-0">
            <div class="accordion-panel-header">

                <div class="ui-fluid p-grid file-row">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <div class="inp">
                            <label class="label-student">2020-100001</label>
                            <br>
                            <button class="btn btn-primary" type="button"> <b>file.PDF</b>
                            </button>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="inp">
                            <label class="label-spacer">.</label>
                            <br>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="inp">
                            <label class="label-student">Juan Dela Cruz</label>
                            <br>
                            <button class="btn btn-primary text-success" type="button">
                                <span class="fas fa-check"></span>
                                Encode
                            </button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="inp">
                            <label class="label-block">CEIT-03-101</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="inp">
                            <label class="label-block">Activity 1</label>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>

            </div>
        </div>
        <div class="card card-sm card-body bg-primary border-light mb-0">
            <div class="accordion-panel-header">
                <div class="ui-fluid p-grid file-row">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <div class="inp">
                            <label class="label-student">2020-100001</label>
                            <br>
                            <button class="btn btn-primary" type="button"> <b>file.PDF</b>
                            </button>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="inp">
                            <label class="label-spacer">.</label>
                            <br>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="inp">
                            <label class="label-student">Juan Dela Cruz</label>
                            <br>
                            <button class="btn btn-primary text-success" type="button">
                                <span class="fas fa-check"></span>
                                Encode
                            </button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="inp">
                            <label class="label-block">CEIT-03-101</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="inp">
                            <label class="label-block">Activity 1</label>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
        <div class="card card-sm card-body bg-primary border-light">
            <div class="accordion-panel-header">

                <div class="ui-fluid p-grid file-row">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <div class="inp">
                            <label class="label-student">2020-100001</label>
                            <br>
                            <button class="btn btn-primary" type="button"> <b>file.PDF</b>
                            </button>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="inp">
                            <label class="label-spacer">.</label>
                            <br>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="inp">
                            <label class="label-student">Juan Dela Cruz</label>
                            <br>
                            <button class="btn btn-primary text-success" type="button">
                                <span class="fas fa-check"></span>
                                Encode
                            </button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="inp">
                            <label class="label-block">CEIT-03-101</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="inp">
                            <label class="label-block">Activity 1</label>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>

            </div>
        </div>
    </div>
</div>