.file-row {
    width: 100%;
}

.label-student {
    font-size: 18px;
    font-weight: bolder;
}

.inp {
    width: 100%;
    text-align: center;
}

.bolder {
    font-weight: bolder;
}

.label-spacer {
    font-size: 18px;
    font-weight: bolder;
    opacity: 0;
}

.label-block {
    font-size: 18px;
    font-weight: bolder;
}