<div class="layout">
    <button type="button" id="closereg" data-toggle="modal" class="hide" data-dismiss="modal" data-target="#modal-toast-file" data-backdrop="static" data-keyboard="false"></button>



    <div class="ui-fluid p-grid">
        <div class="col-2">
            <div class="btn-group mb-2 mr-2 b inp">
                <select class="custom-select my-1 mr-sm-2" [(ngModel)]="sectionslc">
                    <option selected>Section</option>
                    <option *ngFor="let i of sections" value="{{i.id}}">{{i.code}}</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <div class="btn-group mb-2 mr-2 b inp">
                <select class="custom-select my-1 mr-sm-2" [(ngModel)]="acttypeslc" (change)="getactivity()">
                    <option selected>Activity Type</option>
                    <option *ngFor="let i of acttype" value="{{i.id}}">{{i.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <div class="btn-group mb-2 mr-2 b inp">
                <select [disabled]="acttypeslc == 'Activity Type' || activities.length == 0" class="custom-select my-1 mr-sm-2" [(ngModel)]="activityslc" (change)="getsubmission()">
                    <option selected>Activity</option>
                    <option *ngFor="let i of activities" value="{{i.id}}">{{i.activity_name}}</option>
                </select>
            </div>
        </div>
    </div>

    <br>

    <!--<div *ngFor="let i of works" class="accordion shadow-soft rounded" id="accordionExample1">
        <div class="card card-sm card-body bg-primary border-light mb-0">
            <div class="accordion-panel-header">
                test
 
            </div>
        </div>

    </div>-->
    <table class="table">
        <tr>
            <th class="border-0" scope="col">Student No</th>
            <!--<th class="border-0" scope="col">Block</th>-->
            <th class="border-0" scope="col">Name</th>
            <th class="border-0" scope="col">Question</th>
            <th class="border-0" scope="col">File</th>
            <th class="border-0" scope="col">Grade</th>
            <th class="border-0" scope="col">Action</th>
            <th class="border-0" scope="col">Activity</th>
        </tr>
        <tr *ngFor="let i of works">
            <td>{{i.student_number}}</td>
            <!--<td>{{sectiondesc}}</td>-->
            <td>{{i.full_name}}</td>
            <td>
                <div *ngFor="let s of i.submitsummary">
                    <button class="btn btn-primary text-dark mr-2 mb-2" type="button" data-toggle="tooltip" data-placement="top" title="{{s.qestion_name}}">
                        {{s.question}}</button>
                </div>
            </td>
            <td>
                <div *ngFor="let s of i.submitsummary">
                    <button class="btn btn-primary text-dark mr-2 mb-2" type="button" (click)="openfile(s)">
                        file</button>
                </div>
            </td>
            <td>
                <div *ngFor="let s of i.submitsummary">
                    <input [disabled]="s.graded" type="number" class="form-control input" [(ngModel)]="s.grade" (change)="test(s)" min="1" max="s.max_points">
                </div>
            </td>
            <td>
                <div *ngFor="let s of i.submitsummary">
                    <button [disabled]="s.graded" class="btn btn-primary text-success mr-2 mb-2" type="button" (click)="savegrade(s, i)">Encode</button>
                </div>
            </td>
            <td>
                <div *ngFor="let s of i.submitsummary">
                    <button class="btn btn-primary text-dark mr-2 mb-2" type="button" [disabled]="true">
                        {{activitydesc}}</button>
                </div>
            </td>
        </tr>
    </table>

</div>


<div class="modal fade" id="modal-toast-file" tabindex="-1" role="dialog" aria-labelledby="modal-confirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="modal-title-confirm"></h2>
            </div>
            <div class="modal-body">
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">{{resmessage}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-danger" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>