<div class="layout">
    <div class="ui-fluid p-grid">
        <div class="p-col-12 p-md-3">
            <div class="btn-group mb-2s mr-2 b">
                <select class="custom-select my-1 mr-sm-2" [(ngModel)]="sectionslc" (change)="bysection()">
                    <option selected>Section</option>
                    <option *ngFor="let b of blocks" value="{{b.id}}">{{b.code}}</option>
                </select>
            </div>
        </div>
        <div class="p-col-12 p-md-3">
            <div class="btn-group mb-2 mr-2 b">
                <select class="custom-select my-1 mr-sm-2" [(ngModel)]="activityslc" (change)="byactivity()">
                    <option selected>Activity</option>
                    <option *ngFor="let b of activity2" value="{{b.id}}">{{b.activity_name}}</option>
                </select>
            </div>
        </div>
        <div class="p-col-12 p-md-3 button-print">
            <button [disabled]="sectionslc == 'Section'" class="btn btn-primary mr-3" type="button" (click)="downloadfile()">
                <span class="mr-1"><span class="fas fa-file-download"></span></span>
                Download
            </button>
        </div>

    </div>


    <div class="tbl shadow-soft rounded">
        <table class="table" id="recordtable">
            <tr>
                <th class="border-0 txt-center" scope="col" id="block">Student No</th>
                <th class="border-0 txt-center" scope="col" id="block">Block</th>
                <th class="border-0" scope="col" id="name">Name</th>
                <th *ngFor="let a of activity" class="border-0 txt-center" scope="col" id="act">{{a.activity_name}}</th>
            </tr>
            <tr *ngFor="let i of studentlist">
                <td class="txt-center">{{i.university_id}}</td>
                <td class="txt-center">{{sectionslc}}</td>
                <td>{{i.full_name}}</td>
                <td *ngFor="let a of activity" class="txt-center">{{getgrade(a.id, i)}}</td>
            </tr>
        </table>
    </div>

    <div class="right">
        <button type="button" (click)="goto('faculty/home/classlist')" class="btn btn-primary text-danger closebtn" aria-haspopup="true" aria-expanded="false">
            Close
        </button>
    </div>
</div>