<div class="layout">
    <div class="ui-fluid p-grid">
        <div class="p-col-12 p-md-3">
            <span class="fas fa-folder mr-2"></span> {{block.code}}
            <br>
            <span class="fas fa-clock mr-2"></span> {{block.schedule}}
        </div>
        <div class="p-col-12 p-md-3">
            <button [disabled]="block == null || block.code == null || block.code == ''" class="btn btn-primary" type="button" (click)="newstudent()" data-toggle="modal" data-target="#modal-student" data-backdrop="static" data-keyboard="false">
                <span class="mr-1"><span class="fas fa-user-friends"></span></span>
                <b>Add Student</b>
            </button>
        </div>
        <!--<div class="p-col-12 p-md-3">
            <div class="custom-file cusfile">
                <input type="file" class="custom-file-input" id="customfile">
                <label class="custom-file-label" for="customfile">
                    <span class="fas fa-upload"></span>
                    <b>Import List</b>
                </label>
            </div>
        </div>-->
        <div class="p-col-12 p-md-3"></div>

    </div>

    <table class="table shadow-soft rounded">
        <tr>
            <th class="border-0 " scope="col" id="studentno">Student No.</th>
            <th class="border-0" scope="col" id="name">Name</th>
            <!--<th class="border-0" scope="col" id="det">Details</th>-->
        </tr>
        <tr *ngFor="let i of list">
            <td headers="studentno">{{i.student_number}}</td>
            <td headers="name">{{i.first_name}} {{i.middle_name}} {{i.last_name}}</td>
            <!--<td headers="det">
                <button class="btn btn-icon-only btn-sm btn-pill" type="button" data-toggle="modal" data-target="#modal-default" (click)="viewstudent(i)">
                    <span aria-hidden="true" class="fas fa-ellipsis-v"></span>
                </button>
            </td>-->
        </tr>
    </table>

    <div class="right">
        <button type="button" (click)="goto('faculty/home/classlist')" class="btn btn-primary text-danger closebtn" aria-haspopup="true" aria-expanded="false">
            Close
        </button>
    </div>
</div>


<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="modal-title-default">{{studentslc.student_number}}</h2>
            </div>
            <div class="modal-body">
                Name: {{studentslc.first_name}} {{studentslc.middle_name}} {{studentslc.last_name}}
                <br> Email: juandcruz@gmail.com
                <br> Course: BSIT
                <br> Block: CEIT-03-1002E
                <br> 2020-10001's other details place here..
                <br> 2020-10001's other details place here..
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-danger ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-student" tabindex="-1" role="dialog" aria-labelledby="modal-student" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="modal-title-student">Add new student</h2>
            </div>
            <div class="modal-body">
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2 blockcode">Section:</label>
                        <label class="my-1 mr-2 blockcode">{{block.code}}</label>

                    </div>
                </div>
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">Student No. <span class="asterisk">*</span></label>
                        <input type="text" class="form-control" [(ngModel)]="student.username" id="stusername" name="stusername" (change)="validate('stusername', null)">
                    </div>
                </div>
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">Firstname <span class="asterisk">*</span></label>
                        <input type="text" class="form-control" [(ngModel)]="student.first_name" id="stfirstname" name="stfirstname" (change)="validate('stfirstname', null)">
                    </div>
                </div>
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">Middlename <span class="asterisk">*</span></label>
                        <input type="text" class="form-control" [(ngModel)]="student.middle_name" id="stmiddlename" name="stmiddlename" (change)="validate('stmiddlename', null)">
                    </div>
                </div>
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">Lastname <span class="asterisk">*</span></label>
                        <input type="text" class="form-control" [(ngModel)]="student.last_name" id="stlastname" name="stlastname" (change)="validate('stlastname', null)">
                    </div>
                </div>
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">Email <span class="asterisk">*</span></label>
                        <input type="text" class="form-control" [(ngModel)]="student.email" id="stemail" name="stemail" (change)="validate('stemail', null)">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closereg" class="hide" data-toggle="modal" data-dismiss="modal" data-target="#student-modal-confirm">Close</button>
                <button type="button" class="btn btn-primary text-success" (click)="addstudent()" [disabled]="student.last_name == '' || student.last_name == null || student.middle_name == '' || student.middle_name== null || student.first_name == '' || student.first_name == null || student.username == '' || student.username == null || student.email == '' || student.email == null">Save</button>
                <button type="button" class="btn btn-primary text-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="student-modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-confirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="student-modal-title-confirm"></h2>

            </div>
            <div class="modal-body">
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">{{message}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-danger" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>