<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light navbar-theme-primary sticky z">
    <a class="navbar-brand">
        <img class="btn" src="assets/l1.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> Assembly Language
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">

        </ul>
    </div>
    <div class="menu">
        <div class="d-flex align-items-center">
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                <li class="nav-item">
                    <a (click)="scrollto('about')" class="navbar-brand" aria-hidden="true">
                        ABOUT
                    </a>
                </li>
                <li class="nav-item">
                    <a (click)="scrollto('contact')" class="navbar-brand" aria-hidden="true">
                        CONTACT US
                    </a>
                </li>
                <li class="nav-item dropdown dropleft">
                    <a (click)="scrollto('login')" class="nav-link navbar-brand">
                        LOG IN
                        <!--<span class="nav-link-inner-text">
                            <i class="fas fa-list"></i>
                        </span>-->
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mob-menu">
        <a>
            <span class="nav-link-inner-text">
                <span class="fas fa-bars" (click)="viewsidenav()"></span>
            </span>
        </a>
    </div>
</nav>

<div id="topnav" class="sidenav bg-light nav-shadow">
    <div class="top-margin"></div>
    <a (click)="scrollto('about')"><span class="fas fa-question-circle side-spacer"></span>About</a>
    <a (click)="scrollto('contact')"><span class="fas fa-phone-alt side-spacer"></span>Contact Us</a>
    <a (click)="scrollto('login')"><span class="fas fa-sign-in-alt side-spacer"></span>Log in</a>
    <a (click)="closesidenav()"><span class="fas fa-window-close side-spacer"></span>Close</a>
</div>

<div id="login" class="page">
    <div *ngIf="student" class="card bg-primary border-light shadow-soft crdas" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title txt-center">Login</h5>
            <form>
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control" id="stusername" placeholder="Student Number" [(ngModel)]="studentid" name="studentid">
                    <label></label>
                    <input type="password" class="form-control" id="stpassword" placeholder="Password" [(ngModel)]="studentpassword" name="studentpassword">
                    <small id="forgotpassword" class="form-text text-muted"><a data-toggle="modal"
                            data-target="#student-modal-default"> Forgot password?</a></small>
                    <div class="center">
                        <button (click)="loginStudent()" type="submit" class=" right btn btn-primary text-success">
                            <span class="fas fa-sign-in-alt mr-2"></span> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="faculty" class="r card bg-primary border-light shadow-soft crdas" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title txt-center">Login</h5>
            <form>
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="facultyid" name="facultyid">
                    <label></label>
                    <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="facultypassword" name="facultypassword">
                    <small id="forgotpassword" class="form-text text-muted"><a data-toggle="modal"
                            data-target="#modal-default"> Forgot password?</a></small>
                    <div class="login">
                        <button (click)="loginProfessor()" type="submit" class="right btn btn-primary text-success">
                            <span class="fas fa-sign-in-alt mr-2"></span> </button>
                    </div>
                </div>
                <small id="signup" class="form-text text-muted" data-toggle="modal" data-target="#modal-signup">No
                    account yet? <a>Sign up</a></small>
            </form>
        </div>
    </div>
</div>

<div id="about" class="page2">
    <div class="pnlpar parallax">
        <div class="desc">
            <p>An exclusive website for students of Association of Computer Students enrolled in Assembly Language Progamming.
            </p>
        </div>
    </div>
</div>

<div id="contact" class="page2">
    <div class="ui-fluid p-grid contact">
        <div class="p-col-12 p-md-4 txt-center al">
            <span class="contact">
                <div class="btn btn-icon-only btn-primary btn-pill"><i class="fas fa-map-marker-alt"></i></div>
                <br>
                <b class="c1">Visit us</b>
                <br>
                <div class="c2">Room 102 Dr. Josefina V. Estolas Bldg.</div>
            </span>
        </div>
        <div class="p-col-12 p-md-4 txt-center al">
            <span class="contact">
                <div class="btn btn-icon-only btn-primary btn-pill"><i class="fab fa-facebook"></i></div>
                <br>
                <b class="c1">Facebook</b>
                <br>
                <div class="c2">groups/ACS.Online</div>
            </span>
        </div>
        <div class="p-col-12 p-md-4 txt-center al">
            <span class="contact">
                <div class="btn btn-icon-only btn-primary btn-pill"><i class="fas fa-envelope"></i></div>
                <br>
                <b class="c1">Email</b>
                <br>
                <div class="c2">computerdept@rtu.edu.ph</div>
            </span>
        </div>
    </div>
</div>

<!--<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light navbar-theme-primary sticky z">
    <a class="navbar-brand">
        <img class="btn" src="assets/l1.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> Assembly Language
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">

        </ul>
    </div>
    <div class="menu">
        <div class="d-flex align-items-center">
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                <li class="nav-item">
                    <a (click)="scrollto('about')" class="navbar-brand" aria-hidden="true">
                        ABOUT
                    </a>
                </li>
                <li class="nav-item">
                    <a (click)="scrollto('contact')" class="navbar-brand" aria-hidden="true">
                        CONTACT US
                    </a>
                </li>
                <li class="nav-item dropdown dropleft">
                    <a (click)="scrollto('login')" class="nav-link navbar-brand">
                        <span class="nav-link-inner-text">
                            <i class="fas fa-list"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="login" class="page">
    <div class="pnl100">
        <div *ngIf="student" class="card bg-primary border-light shadow-soft crdas" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title txt-center">Login</h5>
                <form>
                    <div class="form-group">
                        <label></label>
                        <input type="text" class="form-control" id="stusername" placeholder="Student Number" [(ngModel)]="studentid" name="studentid">
                        <label></label>
                        <input type="password" class="form-control" id="stpassword" placeholder="Password" [(ngModel)]="studentpassword" name="studentpassword">
                        <small id="forgotpassword" class="form-text text-muted"><a data-toggle="modal"
                                data-target="#student-modal-default"> Forgot password?</a></small>
                        <div class="center">
                            <button (click)="loginStudent()" type="submit" class=" right btn btn-primary text-success">
                                <span class="fas fa-sign-in-alt mr-2"></span> </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div *ngIf="faculty" class="r card bg-primary border-light shadow-soft crdas" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title txt-center">Login</h5>
                <form>
                    <div class="form-group">
                        <label></label>
                        <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="facultyid" name="facultyid">
                        <label></label>
                        <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="facultypassword" name="facultypassword">
                        <small id="forgotpassword" class="form-text text-muted"><a data-toggle="modal"
                                data-target="#modal-default"> Forgot password?</a></small>
                        <div class="login">
                            <button (click)="loginProfessor()" type="submit" class="right btn btn-primary text-success">
                                <span class="fas fa-sign-in-alt mr-2"></span> </button>
                        </div>
                    </div>
                    <small id="signup" class="form-text text-muted" data-toggle="modal" data-target="#modal-signup">No
                        account yet? <a>Sign up</a></small>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="about" class="page2">
    <div class="pnlpar parallax">
        <div class="desc">
            <p>An exclusive website for students of Association of Computer Students enrolled in Assembly Language Progamming.
            </p>
        </div>
    </div>
</div>

<div id="contact" class="page3">
    <div class="pnl3">
        <span class="contact">
            <div class="btn btn-icon-only btn-primary btn-pill">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <br>
            <b class="c1">Visit us</b>
            <br>
            <div class="c2">
                Room 102 Dr. Josefina V. Estolas Bldg.
            </div>
        </span>
    </div>
    <div class="pnl3">
        <span class="contact">
            <div class="btn btn-icon-only btn-primary btn-pill">
                <i class="fab fa-facebook"></i>
            </div>
            <br>
            <b class="c1">Facebook</b>
            <br>
            <div class="c2">
                groups/ACS.Online
            </div>
        </span>
    </div>
    <div class="pnl3">
        <span class="contact">
            <div class="btn btn-icon-only btn-primary btn-pill">
                <i class="fas fa-envelope"></i>
            </div>
            <br>
            <b class="c1">Email</b>
            <br>
            <div class="c2">
                computerdept@rtu.edu.ph
            </div>
        </span>
    </div>
</div>-->

<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="modal-title-default">Forgot Password</h2>
            </div>
            <div class="modal-body">
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">Enter your email to reset password</label>
                        <input class="input" type="text" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-secondary" data-toggle="modal" data-dismiss="modal" data-target="#modal-confirm">Enter</button>
                <button type="button" class="btn btn-primary text-danger" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-confirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="modal-title-confirm"></h2>
            </div>
            <div class="modal-body">
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">{{message}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-danger" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="modal-signup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="modal-title-default">Please fill up the following</h2>
            </div>
            <div class="modal-body">
                <div class="row input">
                    <div class="p col-12 col-md-4">
                        Faculty Number:
                    </div>
                    <div class="p col-12 col-md-8">
                        <input class="input" type="text" class="form-control" [(ngModel)]="profdetails.username" name="profusername">
                    </div>
                </div>
                <div class="row input">
                    <div class="p col-12 col-md-4">
                        Name:
                    </div>
                    <div class="p col-12 col-md-8">
                        <input class="input" type="text" class="form-control" placeholder="Surname, Given Name MI." [(ngModel)]="profdetails.first_name" name="proffirstname">
                    </div>
                </div>
                <div class="row input">
                    <div class="p col-12 col-md-4">
                        Email:
                    </div>
                    <div class="p col-12 col-md-8">
                        <input class="input" type="text" class="form-control" [(ngModel)]="profdetails.email" name="profemail">
                    </div>
                </div>
                <div class="row input">
                    <div class="p col-12 col-md-4">
                        Set Password:
                    </div>
                    <div class="p col-12 col-md-8">
                        <input class="input" type="password" class="form-control" [(ngModel)]="profdetails.password" name="password">
                    </div>
                </div>
                <div class="row input">
                    <div class="p col-12 col-md-4">
                        Confirm Password:
                    </div>
                    <div class="p col-12 col-md-8">
                        <input class="input" type="password" class="form-control" [(ngModel)]="profpassword2" name="confprofpassword">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closereg" class="hide" data-toggle="modal" data-dismiss="modal" data-target="#modal-confirm">Close</button>
                <button type="button" [disabled]="profdetails.password != profpassword2 || profdetails.username == null || profdetails.password == null || profdetails.email == null || profdetails.first_name == null || profdetails.username == '' || profdetails.password == '' || profdetails.email == '' || profdetails.first_name == ''"
                    class="btn btn-primary text-secondary" data-toggle="modal" data-dismiss="modal" (click)="registerProfessor()">Enter</button>
                <button type="button" class="btn btn-primary text-danger" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="student-modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="student-modal-title-default">Forgot Password</h2>
            </div>
            <div class="modal-body">
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">Enter your email to reset password</label>
                        <input class="input" type="text" class="form-control" id="stemail" placeholder="email">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-secondary" data-toggle="modal" data-dismiss="modal" data-target="#student-modal-confirm">Enter</button>
                <button type="button" class="btn btn-primary text-danger" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="student-modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-confirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="student-modal-title-confirm"></h2>

            </div>
            <div class="modal-body">
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">{{message}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-danger" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>