.nav-shadow {
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, .2);
}

#header {
    width: 100vw;
}

.z {
    z-index: 999;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.spacer {
    height: 100px;
    width: 100%;
    color: white;
    opacity: 0;
}

li {
    margin-left: 10px;
    margin-right: 10px;
}

.page {
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}

.page2 {
    width: 100%;
    height: 100vh;
    /*margin-top: 400px;*/
    padding-top: 80px;
}

.page3 {
    height: 100vh;
    margin: 0 80px;
    padding-top: 220px;
}

.pnl {
    width: 50%;
    height: 100%;
    /*background-color: greenyellow;*/
    display: inline-block;
}

.pnlpar {
    width: 100%;
    /*background-color: greenyellow;*/
    /*display: inline-block;*/
    height: 100vh;
}

.type {
    margin-bottom: 20px;
}

b {
    font-size: 18px;
}

.right {
    float: right;
}

.content {
    height: 460px;
}

.sl1 {
    background-image: url('/assets/s1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.sl2 {
    background-image: url('/assets/s3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.sl3 {
    background-image: url('/assets/s4.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.crsl {
    margin-top: 80px;
    margin-right: 20px;
    width: 360px;
    height: 400px;
}

.desc {
    margin: 0 auto;
    padding-top: 100px;
    width: 50%;
    float: center;
    text-align: center;
    font-size: 45px;
}

p {
    font-size: 45px;
    width: 100%;
    text-align: center;
}

.circle {
    height: 180px;
    width: 200px;
    float: left;
    border-radius: 40%;
    background-color: lightcoral;
}

.pnl2 {
    padding-top: 70px;
    margin-left: 70px;
    height: 100px;
}

.r {
    margin-left: 40px;
}

.p {
    padding-bottom: 20px;
}

.pnl3 {
    width: 33.33%;
    height: 100%;
    display: inline-block;
    text-align: center;
}

.contact {
    font-size: 24px;
}

.c1 {
    margin-left: 10px;
}

.c2 {
    font-size: 16px;
}

.parallax {
    /* The image used */
    background-image: url('/assets/w3.png');
    /* Set a specific height */
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.opc {
    opacity: 0.3;
}

.pnl100 {
    width: 100%;
    margin-top: 200px;
}

.crdas {
    margin: 0 auto;
}

.hide {
    visibility: hidden;
    width: 0%;
    float: left;
}

@media screen and (max-width: 1000px) {
    div.menu {
        display: none;
    }
}

.menu {
    padding: 0;
}