<div class="layout">
    <div>
        <table class="table shadow-soft rounded">
            <tr>
                <th class="border-0 " scope="col" id="activityno">Activity</th>
                <th class="border-0 score-col" scope="col" id="score">Score</th>
                <th class="border-0 date-col" scope="col" id="datetaken">Date Taken</th>
            </tr>
            <tr *ngFor="let i of activity">
                <td headers="activityno">{{i.activity_name}}</td>
                <td class="score-col" headers="score">{{ getscore(i) }}</td>
                <td class="date-col" headers="datetaken">{{ getdate(i) }}</td>
            </tr>
        </table>
    </div>

    <div class="right">
        <button type="button" (click)="goto('student/home')" class="btn btn-primary text-danger" aria-haspopup="true" aria-expanded="false">
            Close
        </button>
    </div>
</div>