<div class="topnav">
    <nav id="topnavigation" class="navbar navbar-expand-lg navbar-light bg-light navbar-theme-primary z sticky blk">
        <div class="hm-btn" (click)="toggleside()"><span class="fas fa-list"></span></div>
        <a class="navbar-brand">
            <img src="assets/l1.png" width="30" height="30" class="d-inline-block" alt="" loading="lazy"> Assembly Language
        </a>
    </nav>
</div>
<div class="menu">
    <div id="header" class="navbar navbar-expand-lg navbar-light navbar-theme-primary">
        <div class="right">
            <div class="nav-link navbar-brand">
                <div class="inblck">
                    <img src="assets/l1.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                </div>
                <div class="name inblck">Assembly Language</div>
            </div>
        </div>
    </div>
</div>

<div class="topnav">
    <div class="spacer">.</div>
</div>

<div class="page-outlet">
    <div id="sidenav" class="sidenav bg-light">
        <a id="tognav" (click)="togglenav()"><span class="fas fa-list"></span><label *ngIf="!isnav"
                class="lbl">Navigation</label></a>
        <a routerLink="/student/home"><span class="fas fa-home"></span><label *ngIf="!isnav"
                class="lbl">Home</label></a>
        <a routerLink="/student/home/profile"><span class="fas fa-user-circle"></span><label *ngIf="!isnav"
                class="lbl">Profile</label></a>
        <a routerLink="/student/home/modules"><span class="fas fa-book-reader"></span><label *ngIf="!isnav"
                class="lbl">Chapters</label></a>
        <a routerLink="/student/home/activity"><span class="fas fa-clipboard"></span><label *ngIf="!isnav"
                class="lbl">Activity</label></a>
        <a routerLink="/student/home/record"><span class="fas fa-chart-line"></span><label *ngIf="!isnav"
                class="lbl">Scores</label></a>
        <a data-toggle="modal" data-target="#modal-default" data-backdrop="static" data-keyboard="false"><span
                class="fas fa-sign-out-alt"></span><label *ngIf="!isnav" class="lbl">Sign out</label></a>
    </div>
    <div id="routing">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="modal-title-default"> Confirm Logout</h2>
            </div>
            <div class="modal-body">
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">Are you sure you want to logout?</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary text-secondary" data-toggle="modal" data-dismiss="modal" (click)="logout()">Yes</a>
                <button type="button" class="btn btn-primary text-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>