.nav-shadow {
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, .2);
}

#header{
    width: 100%;
}

.right{
    position: absolute;
    right: 10px;
    top: 10px;
}

.inblck{
   display: inline;
}

.z {
    z-index: 998;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.spacer {
    height: 100px;
    width: 100%;
    color: white;
    opacity: 0;
}

.name {
    font-size: 14px;
    width: 100%;
}

.sidenav {
    height: 100%;
    width: 4em;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.sidenav a {
    padding: 16px 4px 16px 4px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a:hover {
    background-color: whitesmoke;
}
