<div class="layout">

    <div class=" ui-fluid p-grid red">
        <div *ngFor="let i of studentactivity" class="p-col-12 p-md-3" [ngClass]="{'locked': i.locked}">
            <div class="box">
                <a routerLink="/student/home/assessment">
                    <div class="card bg-primary border-light shadow-soft">
                        <div class="center card-body">
                            <p class="icon card-title mt-3"><span class="fas fa-clipboard mr-2"></span></p>
                            <p class="card-text lbl">{{i.activity_name}}</p>
                            <p class="cdesc">Start: {{i.start | date: 'short'}} <br> Due: {{i.end | date: 'short'}}
                                <br><b>Score: 20/20</b></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>