.layout{
    width: 90%;
    margin: 0 auto;
    padding-left: calc(4em + 7%);
    padding-right: 7%;
}


.center {
    text-align: center;
}

.lbl {
    font-size: 14px;
}

.cdesc {
    font-size: 12px;
}
