<div class="layout">

    <div class=" ui-fluid p-grid red">
        <div *ngFor="let i of list" class="p-col-12 p-md-3" [ngClass]="{'locked': i.locked}">
            <a data-toggle="modal" data-target="#modal-default-act" data-backdrop="static" data-keyboard="false" (click)="selectchapter(i.id)">
                <div class="card bg-primary border-light shadow-soft">
                    <div class="box center card-body">
                        <p class="icon card-title mt-3"><span class="fas fa-clipboard mr-2"></span></p>
                        <p class="card-text lbl">{{i.note}}</p>
                        <!--<p class="cdesc">Start: {{i.start | date: 'short'}} <br> Due: {{i.end | date: 'short'}}
                                <br><b>Score: 20/20</b></p>-->
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-default-act" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="modal-title-default">{{section.code}}</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div *ngFor="let i of actsslc" class="col-12 col-md-12">
                        <!--<a>{{i.activity_name}}</a>-->
                        <div class="card bg-primary shadow-soft text-center border-light card-modal">
                            <div class="card-header box-modal">
                                <span class="card-text small"><span class="far fa-calendar-alt mr-2"></span>15 March 2020
                                </span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{i.activity_name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-danger" data-dismiss="modal" id="secmodalcls">Close</button>
            </div>
        </div>
    </div>
</div>