<div class="layout">
    <div class="pnl">
        <div class="pnl3">
            <div class="b1">
                <div class="display card bg-primary border-light shadow-soft">
                    <div class="card-body">
                        <span class="fas fa-user user"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pnl3">
            <div class="r">
                <input type="text" class="form-control input" id="name" placeholder="Name">
                <input type="text" class="form-control input" id="empid" placeholder="Employee ID">
                <input type="text" class="form-control input" id="email" placeholder="Email">
                <a class="text-info" (click)="togglechangepass()">Change Password</a>
                <small *ngIf="!changepass" id="emailHelp" class="form-text text-muted">It's a good idea to use a
                    strong
                    password that you're not
                    using elsewhere</small>
                <div *ngIf="changepass">
                    <input type="password" class="form-control input" id="password" placeholder="Old Password">
                    <input type="password" class="form-control input" id="password2" placeholder="New Password">
                    <input type="password" class="form-control input" id="password3" placeholder="Re-type New Password">
                </div>
                <button type="button" class="right btn btn-primary text-danger"
                    (click)="goto('faculty/home')">Close</button>
                <button type="button" class="right pbtn btn btn-primary text-success">Save</button>
            </div>
        </div>
        <!--<div class="row input">
                <div class="p col-12 col-md-3">
                    <input class="input" type="text" class="form-control" id="empid" placeholder="Employee ID">
                </div>
            </div>
            <div class="row input">
                <div class="p col-12 col-md-5">
                </div>
            </div>
            <div class="row input">
                <div class="p col-12 col-md-5">
                    <a class="underline" (click)="togglechangepass()">Change Password</a>
                    <small *ngIf="!changepass" id="emailHelp" class="form-text text-muted">It's a good idea to use a
                        strong
                        password that you're not
                        using elsewhere</small>
                    <div *ngIf="changepass">
                        <div class="row input">
                            <div class="p col-12 col-md-5">
                                <input class="input" type="password" class="form-control" id="password"
                                    placeholder="Old Password">
                            </div>
                        </div>
                        <div class="row input">
                            <div class="p col-12 col-md-5">
                                <input class="input" type="password" class="form-control" id="password2"
                                    placeholder="New Password">
                            </div>
                        </div>
                        <div class="row input">
                            <div class="p col-12 col-md-5">
                                <input class="input" type="password" class="form-control" id="password3"
                                    placeholder="Re-type New Password">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row input">
                <div class="p col-12 col-md-5">
                    <button type="button" class="right btn btn-primary text-danger"
                        (click)="goto('faculty/home')">Close</button>
                    <button type="button" class="right pbtn btn btn-primary text-success">Save</button>
                </div>
            </div>-->
    </div>
</div>