.layout{
    width: 100%;
    margin: 0 auto;;
}


.lst{
    padding: 2%;
}

#classlist{
    padding-top: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}

#activity{
    padding-top: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}

#chapter{
    padding-top: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}

.box{
    height: 200px;
}

.folder {
    border-radius: 10px;
    text-align: center;
    height: 150px;
}

.img {
    height: 100px;
    width: 100%;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}


.icon {
    font-size: 1em;
    text-align: center;
}

.input {
    width: 100%;
}

.opt {
    margin-left: 3%;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.act-header {
    width: 100%;
}

.act-tbl {
    width: 100%;
    height: 350px;
    overflow-y: auto;
    padding: 20px
}


.fleft{
    float: left;
}


.lbl{
    font-size: 14px;
}