<div class="layout">

    <b id="opclass" class="opt" (click)="classlistact($event)">CLASSLIST</b>
    <b id="opactivity" class="opt" (click)="activityact($event)">ACTIVITIES</b>
    <b id="opchapter" class="opt" (click)="chapteract($event)">CHAPTERS</b>

    <button type="button" id="closereg" data-toggle="modal" class="hide" data-dismiss="modal" data-target="#modal-toast"></button>

    <div *ngIf="ifclass" id="classlist">
        <div class="ui-fluid p-grid lst">
            <div *ngFor="let i of blocks" class="p-col-12 p-md-3">
                <a routerLink="/faculty/home/class/{{i.id}}">
                    <div class="box card bg-primary border-light shadow-soft">
                        <div class="card-body">
                            <p class="icon card-title mt-3"><span class="fas fa-folder mr-2"></span></p>
                            <p class="card-text lbl">{{i.code}}</p>
                            <p class="card-text lbl">{{i.schedule}}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="p-col-12 p-md-3">
                <a data-toggle="modal" data-target="#modal-default" (click)="newsection()" data-backdrop="static" data-keyboard="false">
                    <div class="box card bg-primary border-light shadow-soft">
                        <div class="card-body">
                            <p class="icon card-title mt-3"><span class="fas fa-plus-circle mr-2"></span></p>
                            <p class="card-text lbl">Add Section</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="ifactivity" id="activity">
        <div class="ui-fluid p-grid lst">
            <div *ngFor="let i of acts" class="p-col-12 p-md-3">
                <a id="activityview" data-toggle="modal" data-target="#act-modal-default" data-backdrop="static" data-keyboard="false" (click)="selectactivity(i.id)">
                    <div class="box card bg-primary border-light shadow-soft">
                        <div class="card-body">
                            <p class="icon card-title mt-3"><span class="fas fa-clipboard mr-2"></span></p>
                            <p class="card-text lbl">{{i.activity_name}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="ifchapter" id="chapter">
        <div class="ui-fluid p-grid lst">
            <div *ngFor="let i of list" class="p-col-12 p-md-3">
                <a routerLink="/faculty/home/chapter/{{i}}">
                    <div class="box card bg-primary border-light shadow-soft">
                        <div class="card-body">
                            <p class="icon card-title mt-3"><span class="fas fa-book mr-2"></span></p>
                            <p class="card-text lbl">CHAPTER {{i}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--<div class="alert alert-success shadow-soft close" role="alert" id="success-alert">
        <span class="alert-inner--text">This is a success alert with <a href="#" class="alert-link">an
                example link</a>. Give it a click if you like.</span>
    </div>-->
</div>


<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="modal-title-default">New section</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <label>Section Code</label>
                        <input class="input" type="text" class="form-control" id="blockcode" [(ngModel)]="block.code" name="blockcode" (change)="validate('blockcode', null)">
                        <label>Section Schedule</label>
                        <input class="input" type="text" class="form-control" id="blockschedule" [(ngModel)]="block.schedule" name="blockschedule" (change)="validate('blockschedule', null)">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="block.code == null || block.code == '' || block.schedule == null || block.schedule == ''" type="button" class="btn btn-primary text-success" (click)="savesection()">Save</button>
                <button type="button" class="btn btn-primary text-danger" data-dismiss="modal" id="secmodalcls">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="act-modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form class="w-100">
                    <div class="form-group">
                        <h2 class="h6 modal-title mb-0" id="modal-title-default">{{selectacts.activity_name}}</h2>
                    </div>
                    <div>
                        <div class="input-daterange row align-items-center">
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group input-group-border">
                                        <!--<div class="input-group-prepend"><span class="input-group-text"><span
                                                    class="far fa-calendar-alt"></span></span>
                                        </div>-->
                                        <input class="form-control" [(ngModel)]="acstart" name="acstart" id="date1" placeholder="Start date" type="date">
                                        <!--<input class="form-control datepicker" id="date1" placeholder="Start date" type="text">-->
                                        <!--<input class="form-control" id="time1" placeholder="Start time" type="time">-->
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group input-group-border">
                                        <!--<div class="input-group-prepend"><span class="input-group-text"><span
                                                    class="far fa-calendar-alt"></span></span>
                                        </div>-->
                                        <input class="form-control" [(ngModel)]="acend" name="acend" id="date2" placeholder="End date" type="date">
                                        <!--<input class="form-control datepicker" [(ngModel)]="acend" name="acend" id="date2" placeholder="End date" type="text">-->
                                        <!--<input class="form-control" id="time2" placeholder="End time" type="time">-->
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <select class="custom-select my-1 mr-sm-2 actsect" (change)="profactivityselect($event)">
                                        <option selected>Choose...</option>
                                        <option *ngFor="let b of filter" value="{{b.id}}">{{b.section_code}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <button [disabled]="acstart == null || acend == null || acslc == null" type="button" class="btn btn-primary text-success" (click)="saveactivitysched()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-body act-tbl">
                <div class="accordion shadow-soft rounded" id="accordionExample1">
                    <div *ngFor="let i of filter" class="card card-sm card-body bg-primary border-light mb-0">
                        <a ref="#panel-1" data-target="#panel-1" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="h6 mb-0 font-weight-bold">{{i.section_code}} | Date: {{i.start}} -
                                {{i.end}}</span>
                            <span class="icon"><span class="fas fa-plus"></span></span>
                        </a>
                        <div class="collapse" id="panel-1">
                            <div class="pt-3">
                                <p class="mb-0">
                                    insert table here..
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--<div class="card card-sm card-body bg-primary border-light mb-0">
                        <a href="#panel-2" data-target="#panel-2" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="h6 mb-0 font-weight-bold">2)Next question, 2?</span>
                            <span class="icon"><span class="fas fa-plus"></span></span>
                        </a>
                        <div class="collapse" id="panel-2">
                            <div class="pt-3">
                                <p class="mb-0">
                                    <input type="radio" name="choice" value="q2c1">Choice 1<br>
                                    <input type="radio" name="choice" value="q2c2">Choice 2<br>
                                    <input type="radio" name="choice" value="q2c3">Choice 3<br>
                                    <input type="radio" name="choice" value="q2c4">Choice 4
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-sm card-body bg-primary border-light">
                        <a href="#panel-3" data-target="#panel-3" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="h6 mb-0 font-weight-bold">3)Last question, 3?</span>
                            <span class="icon"><span class="fas fa-plus"></span></span>
                        </a>
                        <div class="collapse" id="panel-3">
                            <div class="pt-3">
                                <p class="mb-0">
                                    <input type="radio" name="choice" value="q3c1">Choice 1<br>
                                    <input type="radio" name="choice" value="q3c2">Choice 2<br>
                                    <input type="radio" name="choice" value="q3c3">Choice 3<br>
                                    <input type="radio" name="choice" value="q3c4">Choice 4
                                </p>
                            </div>
                        </div>
                    </div>-->
                </div>
                <!--<table class="table shadow-soft rounded act-tbl">
                    <tr>
                        <th class="border-0" scope="col" id="block">Section</th>
                        <th class="border-0" scope="col" id="start">Start</th>
                        <th class="border-0" scope="col" id="end">End</th>
                    </tr>
                    <tr *ngFor="let i of filter">
                        <td headers="block">{{i.section_code}}</td>
                        <td headers="start">{{i.start}}</td>
                        <td headers="end">{{i.end}}</td>
                    </tr>
                </table>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-secondary" (click)="gotoactivity()" data-dismiss="modal">View
                    Questions</button>

                <button type="button" class="btn btn-primary text-danger ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-toast" tabindex="-1" role="dialog" aria-labelledby="modal-confirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="modal-title-confirm"></h2>
            </div>
            <div class="modal-body">
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">{{resmessage}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-danger" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>