<div class="layout">

    <div class="card bg-primary border-light shadow-soft frm" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title txt-center">Reset Password</h5>
            <form>
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control" id="pass1" placeholder="New Password" [(ngModel)]="pass1" name="pass1">
                    <label></label>
                    <input type="text" class="form-control" id="pass2" placeholder="Confirm Password" [(ngModel)]="pass2" name="pass2">

                    <div class="btn-submit">
                        <button [disabled]="pass1 == null || pass1 == '' || pass1 != pass2" type="submit" class="right btn btn-primary text-success" (click)="submitresetpassword()">
                            <span class="fas fa-check mr-2"></span> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>