<div class="layout">

    <div class="card bg-primary border-light shadow-soft frm" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title txt-center">Reset Password</h5>
            <form>
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control" id="pass1" placeholder="New Password">
                    <label></label>
                    <input type="text" class="form-control" id="pass2" placeholder="Confirm Password">

                    <div class="btn-submit">
                        <button type="submit" class="right btn btn-primary text-success">
                            <span class="fas fa-check mr-2"></span> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>