<div class="layout">

    <div class="card bg-primary border-light shadow-soft frm" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title txt-center">Reset Password</h5>
            <form>
                <div class="form-group">
                    <label></label>
                    <input type="password" class="form-control" id="pass1" placeholder="New Password" [(ngModel)]="pass1" name="pass1">
                    <label></label>
                    <input type="password" class="form-control" id="pass2" placeholder="Confirm Password" [(ngModel)]="pass2" name="pass2">

                    <div class="btn-submit">
                        <button type="button" id="closereg" class="hide" data-toggle="modal" data-dismiss="modal" data-target="#modal-confirm"></button>
                        <button [disabled]="pass1 == null || pass1 == '' || pass1 != pass2" type="submit" class="right btn btn-primary text-success" (click)="submitresetpassword()">
                            <span class="fas fa-check mr-2"></span> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-confirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="modal-title-confirm"></h2>
            </div>
            <div class="modal-body">
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">{{resmessage}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-danger" data-dismiss="modal" data-backdrop="static" data-keyboard="false" (click)="closewindow()">Okay</button>
            </div>
        </div>
    </div>
</div>