.right {
    float: right;
}

.layout {
    width: 90%;
    margin: 0 auto;
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 40px;
}

.tbl {
    width: 100%;
}

.inputs {
    width: 100%;
}

.question-panel {
    padding: 0 10%;
}

.close {
    display: none;
}

.hide {
    visibility: hidden;
    position: absolute;
    width: 100px;
    height: 20px;
}

.mult-choices {
    margin-left: 40px;
}