.right {
    float: right;
}

.layout {
    width: 90%;
    margin: 0 auto;
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 40px;
}

.tbl {
    width: 100%;
}

.inputs {
    width: 30%;
}

.palegreen {
    padding-bottom: 0;
}