<div class="layout">
    <button type="button" id="closereg" data-toggle="modal" class="hide" data-dismiss="modal" data-target="#student-modal-submit" data-backdrop="static" data-keyboard="false"></button>

    <div class="card bg-primary border-light shadow-soft">
        <div class="card-body">
            <span class="h6 icon-tertiary small"><span class="fas fa-pencil-alt mr-2"></span>Assembly Language</span>
            <h3 class="h5 card-title mt-3">{{act.activity_name}}</h3>
            <p class="card-text">{{act.description}}</p>
            <div *ngIf="notdone" id="Carousel2" class="carousel slide shadow-inset border border-light p-4 rounded" data-interval="false">
                <div class="carousel-inner rounded question-panel">
                    <div *ngFor="let i of questions; let ind = index" class="carousel-item" [ngClass]="{'active': ind == 0}">
                        {{i.number}}.){{i.question_name}}
                        <br>
                        <br>
                        <div *ngIf="i.q_type == 'IDENT'" class="form-group inputs">
                            <input type="text" class="form-control" [(ngModel)]="i.answer" name="i.answer">
                        </div>
                        <div *ngIf="i.q_type == 'CODE'" class="form-group inputs">
                            <div *ngIf="i.table_filename == undefined || i.table_filename == null || i.table_filename == ''" class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" (change)="handleFileInput($event.target.files, i)">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <div *ngIf="i.table_filename != undefined && i.table_filename != null && i.table_filename != ''">
                                <button class="btn btn-primary" type="button" (click)="removefile(i)">
                                    {{i.table_filename.name}}
                                    <span class="ml-1"><span class="fas fa-times-circle"></span></span>
                                </button>
                            </div>
                        </div>
                        <button [disabled]="(i.answer == undefined || i.answer == null || i.answer == '') && (i.table_filename == undefined || i.table_filename == null || i.table_filename == '')" type="button" class="btn btn-primary text-success" aria-haspopup="true" aria-expanded="false"
                            (click)="submit(i)">
                            Submit
                        </button>
                        <br>
                        <br>
                    </div>
                    <!--<div class="carousel-item">
                        test2
                    </div>
                    <div class="carousel-item">
                        test3
                    </div>-->
                </div>
                <a class="carousel-control-prev" href="#Carousel2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#Carousel2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--<div class="accordion shadow-soft rounded">
                <div *ngFor="let i of questions" class="card card-sm card-body bg-primary border-light">
                    <a href="{{'#panel-' + i.number}}" data-target="{{'#panel-' + i.number}}" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                        <span class="h6 mb-0 font-weight-bold">{{i.number}} {{i.question_name}}</span>
                        <span class="icon"><span class="fas fa-plus"></span></span>
                    </a>
                    <div class="collapse" id="{{'panel-' + i.number}}">
                        <fieldset *ngIf="i.q_type == 'MULT'">
                            <div class="form-check">
                                <div *ngFor="let c of i.choices">
                                    <input class="form-check-input" type="radio" name="{{'radio'+i.number}}" value="{{c.description}}" id="{{'check'+ i.number + '-'+c.description}}">
                                    <label class="form-check-label" for="{{'check'+ i.number + '-'+c.description}}">
                                        {{c.description}}
                                    </label>
                                    <br>
                                </div>
                            </div>
                        </fieldset>
                        <div *ngIf="i.q_type == 'IDENT'" class="form-group inputs">
                            <input type="text" class="form-control" [(ngModel)]="i.answer" name="i.answer">
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="right btn btn-primary text-success" aria-haspopup="true" aria-expanded="false"
                (click)="submit()">
                Submit
            </button>-->
        </div>
    </div>
</div>



<div class="modal fade" id="student-modal-submit" tabindex="-1" role="dialog" aria-labelledby="modal-confirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="student-modal-title-confirm"></h2>

            </div>
            <div class="modal-body">
                <div class="row input">
                    <div class="p col-12 col-md-12">
                        <label class="my-1 mr-2">{{message}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-danger" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>