<div class="layout">
    <div class="card bg-primary border-light shadow-soft">
        <div class="card-body">
            <span class="h6 icon-tertiary small"><span class="fas fa-pencil-alt mr-2"></span>Assembly Language</span>
            <h3 class="h5 card-title mt-3">{{act.activity_name}}</h3>
            <p class="card-text">Answer carefully</p>
            <div class="accordion shadow-soft rounded">
                <!--<div class="form-group inputs">
                    <input type="file" class="custom-file-input" id="customFile" (change)="handleFileInput($event.target.files)">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>-->
                <div *ngFor="let i of questions" class="card card-sm card-body bg-primary border-light">
                    <a href="{{'#panel-' + i.number}}" data-target="{{'#panel-' + i.number}}" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                        <span class="h6 mb-0 font-weight-bold">{{i.number}} {{i.question_name}}</span>
                        <span class="icon"><span class="fas fa-plus"></span></span>
                    </a>
                    <div class="collapse" id="{{'panel-' + i.number}}">
                        <fieldset *ngIf="i.q_type == 'MULT'">
                            <div class="form-check">
                                <div *ngFor="let c of i.choices">
                                    <input class="form-check-input" type="radio" name="{{'radio'+i.number}}" value="{{c.description}}" id="{{'check'+ i.number + '-'+c.description}}">
                                    <label class="form-check-label" for="{{'check'+ i.number + '-'+c.description}}">
                                        {{c.description}}
                                    </label>
                                    <br>
                                </div>
                            </div>
                        </fieldset>
                        <div *ngIf="i.q_type == 'IDENT'" class="form-group inputs">
                            <input type="text" class="form-control" [(ngModel)]="i.answer" name="i.answer">
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="right btn btn-primary text-success" aria-haspopup="true" aria-expanded="false" (click)="submit()">
                Submit
            </button>
        </div>
    </div>
</div>